body,
html {
  height: 100%;
}
.cart-layout {
  position: relative;
  height: 100%;
  max-width: 640px;
  min-width: 320px;
  margin: 0 auto;
  padding-top: 44px;
}
.cart-layout .cart-header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 44px;
  max-width: 640px;
  min-width: 320px;
  background-image: linear-gradient(to bottom, #ededed, #bcbcbc);
}
.cart-layout .cart-header .header-left {
  float: left;
  width: 44px;
  height: 100%;
}
.cart-layout .cart-header .header-left a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 12px;
  background-origin: content-box;
  background-clip: content-box;
  background-position: -22px 0;
}
.cart-layout .cart-header .header-right {
  float: right;
  width: 44px;
  height: 100%;
}
.cart-layout .cart-header .header-right a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 12px;
  background-origin: content-box;
  background-clip: content-box;
  background-position: -60px 0;
}
.cart-layout .cart-header .header-content {
  overflow: hidden;
  text-align: center;
  line-height: 44px;
}
.cart-layout .cart-header .header-content h4 {
  font-size: 20px;
  font-weight: normal;
}
.cart-layout .cart-content {
  width: 100%;
  height: 100%;
}
.cart-layout .cart-content .safe {
  width: 100%;
  height: 33px;
  background-color: #ffffff;
  text-align: center;
  border-bottom: 1px solid #969696;
}
.cart-layout .cart-content .safe p {
  line-height: 33px;
  display: inline-block;
  position: relative;
  padding-left: 32px;
}
.cart-layout .cart-content .safe p img {
  width: 18px;
  position: absolute;
  left: 7px;
  top: 7px;
}
.cart-layout .cart-content .content-header {
  margin-top: 10px;
  width: 100%;
  height: 34px;
  background-color: #ffffff;
  border-top: 1px solid #969696;
  border-bottom: 1px solid #969696;
}
.cart-layout .cart-content .content-header .allcheckbox {
  float: left;
  box-sizing: border-box;
  width: 34px;
  height: 34px;
  text-align: center;
  padding: 7px;
  background-origin: content-box;
  background-clip: content-box;
  background-position: -180px -89px;
}
.cart-layout .cart-content .content-header div {
  overflow: hidden;
  height: 100%;
}
.cart-layout .cart-content .content-header div .jd-logo {
  box-sizing: border-box;
  float: left;
  width: 20px;
  height: 34px;
  padding-top: 8px;
  margin-right: 8px;
  background-origin: content-box;
  background-clip: content-box;
}
.cart-layout .cart-content .content-header div .jd-self {
  float: left;
  text-align: center;
  line-height: 32px;
  font-size: 12px;
  color: #969696;
  padding-bottom: 1px;
}
.cart-layout .cart-content .content-header div .jd-title {
  float: right;
  text-align: center;
  line-height: 32px;
  font-size: 12px;
  color: #969696;
}
.cart-layout .cart-content .content-body .item {
  position: relative;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #969696;
  padding-left: 34px;
}
.cart-layout .cart-content .content-body .item .allcheckbox {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
  margin: 7px 7px;
  background-origin: content-box;
  background-clip: content-box;
  background-position: -180px -89px;
}
