body {
  background-color: #eee;
}
.jd-layout {
  height: 1000px;
  max-width: 640px;
  min-width: 320px;
  margin: 0 auto;
}
.jd-header {
  position: fixed;
  z-index: 999;
  width: 100%;
  max-width: 640px;
  min-width: 320px;
  height: 40px;
  padding-right: 50px;
  padding-left: 70px;
}
.jd-header .search {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 5px 0;
}
.jd-header .search input {
  width: 100%;
  height: 30px;
  border-radius: 15px;
  padding-left: 40px;
}
.jd-header .search i {
  position: absolute;
  left: 10px;
  top: 10px;
  height: 20px;
  width: 20px;
  background-position: -59px -110px;
}
.jd-header .header-logo {
  position: absolute;
  width: 60px;
  height: 25px;
  left: 5px;
  top: 5px;
  background-position: 0 -107px;
}
.jd-header .login {
  width: 50px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  color: #ffffff;
}
.jd-banner {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.jd-banner ul {
  width: 100%;
  position: relative;
}
.jd-banner ul li {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(-100%);
}
.jd-banner ul img {
  width: 100%;
  display: block;
}
.jd-banner ol {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
}
.jd-banner ol li {
  float: left;
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-left: 5px;
}
.jd-banner ol li.current {
  background-color: #fff;
}
.jd-nav ul {
  width: 100%;
  font-size: 12px;
  color: #969696;
}
.jd-nav li {
  width: 20%;
  text-align: center;
  float: left;
  margin: 10px 0;
}
.jd-nav li a {
  text-align: center;
}
.jd-nav li a img {
  height: 40px;
}
.jd-news {
  width: 100%;
  height: 30px;
  padding: 0 40px 0 80px;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.jd-news .new {
  width: 100%;
  line-height: 30px;
  font-size: 9px;
}
.jd-news .new a {
  color: #969696;
}
.jd-news .logo {
  position: absolute;
  left: 2px;
  top: 0;
}
.jd-news .logo img {
  margin: 7px 0;
  height: 16px;
  display: block;
}
.jd-news .more {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  line-height: 30px;
  font-size: 9px;
}
.jd-news .more a {
  color: #969696;
}
.jd-scdKill .header {
  height: 30px;
  width: 100%;
  padding-left: 90px;
  padding-right: 60px;
  position: relative;
}
.jd-scdKill .header .more {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 9px;
  color: #969696;
  line-height: 30px;
  text-align: center;
}
.jd-scdKill .header .watch {
  width: 20px;
  height: 21px;
  position: absolute;
  left: 0;
  top: 4px;
  background-position: -83px -110px;
}
.jd-scdKill .header .scdKill {
  width: 68px;
  height: 30px;
  position: absolute;
  text-align: center;
  line-height: 30px;
  left: 20px;
  color: #f23030;
  font-size: 9px;
}
.jd-scdKill .header .time {
  padding-top: 6px;
}
.jd-scdKill .header .time span {
  float: left;
  line-height: 18px;
  font-size: 12px;
  text-align: center;
}
.jd-scdKill .header .time span:nth-child(odd) {
  width: 18px;
  height: 18px;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
}
.jd-scdKill .header .time span:nth-child(even) {
  width: 8px;
}
.jd-scdKill .product {
  overflow-x: scroll;
  width: 100%;
  height: 101px;
}
.jd-scdKill .product ul {
  width: 1000px;
}
.jd-scdKill .product li {
  float: left;
  width: 86px;
  text-align: center;
  border-right: 1px solid #969696;
}
.jd-scdKill .product li p:nth-child(2) {
  text-align: center;
  color: #f23030;
  font-size: 12px;
}
.jd-scdKill .product li p:nth-child(3) {
  text-align: center;
  text-decoration: line-through;
  color: #969696;
  font-size: 9px;
}
.jd-scdKill .product li img {
  width: 60px;
}
